
.section6{
    display: flex;
    flex-direction: column;
    padding: 0 60px;
    margin:50px;
    gap: 20px;
}
.section6 h1{
    font-size: 40px;
    font-weight: 500;
    margin: 40px -60px;

}
.section6 h1 span{
    color:rebeccapurple
}
.section6 .cards{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 10px;
    margin: 0px 30px;
}
.section6 .card{
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    border-radius: 10px;
    width: 350px;
    height:300px;
}
.section6 .card img{
    position: absolute;
    left: 30%;
    top: 30px;
    max-height: 100px;
    border-radius: 50%;
}
.section6 .card .text{
    align-items: center;
    justify-content: center;
    width: 70%;
    color: black;
    text-wrap: justify;
}

.section6 .card h2{
    margin: 130px auto 5px;
}
.section6 .card p{
    font-size: 15px;
    font-weight: 100;
    /* padding: 6px; */
    
}

.card:hover{
background:linear-gradient( #2E2F84,#652E91 );
}

.card:hover .text{
    color: white;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .section6 .card .left,
    .section6 .card .right {
      width: 100%; /* Full width for both elements */
/* Remove border radius for stacked elements */
border-radius: 0 8px 8px 0;
    }
    .section6 .card img {
      max-width: 80%; /* Ensure images are responsive */
      height: 100%;
    }
.section6 .card h1{
    font-size: 1.9vw;

}
.section6 .card p{
    font-size: 1.7vw;
}}