.gridcontainer {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 40px;
    padding: 10px;
    overflow-x: hidden;
    height: 90vh;
  }

  .head p{
    column-gap: 6px;
    font-size: 25px;
    font-weight: 500;
    margin: 10px ;
  }

  
  @media (max-width:768px) {
      .gridcontainer{
        display: flex;
        flex-direction: column;
      }
     
  }