menu .menuIcon {
  display: none; /* Hide by default for larger screens */
  flex-direction: column;
  cursor: pointer;
}

.menuIcon.active {
  display: flex;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 3px 0;
  transition: transform 0.3s ease;
}

.menuIcon.active .bar:first-child {
  transform: rotate(-45deg) translate(-7px, 4px);
}

.menuIcon.active .bar:nth-child(2) {
  opacity: 0;
}

.menuIcon.active .bar:last-child {
  transform: rotate(45deg) translate(-7px, -4px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgba(197, 197, 197, 0.2);
  backdrop-filter: blur(4px);
  padding: 0 60px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.logoDiv {
  width: 30%;
}
.img {
  height: 22px;
  width: 130;
  cursor: pointer;
}

.linkDiv {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.linkDiv div {
  display: flex;
  gap: 80px;
}
.link p {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.linkDiv h2:hover {
  color: black;
  text-decoration: underline 2px #2e2f84;
  text-underline-offset: 5px;
}
/* .linkDiv h2:active{
  color: black;
text-decoration: underline 2px #2E2F84;
text-underline-offset: 5px;

} */
.active {
  color: black;
  text-decoration: underline 2px #2e2f84;
  text-underline-offset: 5px;
}
span {
  color: black;
}
.nav a {
  text-decoration: none;
}
.signUpBtn {
  padding: 8px 24px;
  outline: none;
  border-radius: 50px;
  border: 2px solid rebeccapurple;
  color: rebeccapurple;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.signUpBtn:hover {
  background: linear-gradient(#2e2f84, #652e91);
  color: #ededed;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .menuIcon {
    display: flex; /* Display the hamburger icon on smaller screens */
  }

  .nav {
    padding: 0 20px; /* Reduce padding for smaller screens */
  }

  .img {
    height: 18px;
    width: auto; /* Allow the logo to scale down */
  }

  .linkDiv {
    display: none; /* Hide links by default on smaller screens */
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: rgba(197, 197, 197, 0.2);
    backdrop-filter: blur(4px);
    z-index: 101;
    width: 150px; /* Adjust the width as needed */
  }

  .linkDiv.active {
    display: flex; /* Display links when active class is applied (e.g., on menu button click) */
    flex-direction: column; /* Stack links vertically */
  }

  .linkDiv.active h2 {
    margin: 10px;
  }
}
