.section8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin: 40px 10px;
  }
  
  .section8 h1 {
    font-size: 40px;
    font-weight: 500;
  }
  
  .section8 .inputGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
  }
  
  .section8 input,
  .section8 textarea {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .section8 input{
    padding: 16px;
    border-radius: 16px;
    /* border: 2px solid rebeccapurple; */
    font-size: 22px;
    font-weight: 500;
    width: 40%;
    outline: none;
  }

  .section8 textarea{
  
  width: 100%;
  max-width: 540px; /* Set a maximum width for the textarea */
  padding: 16px;
  border-radius: 16px;
  /* border: 2px solid rebeccapurple; */
  font-size: 22px;
  font-weight: 500;    
  outline: none;
  margin: 0 10px;
 
  }
  .section8 .btn {
    width: fit-content;
    outline: none;
    font-size: 16px;
    padding: 14px 60px;
    border-radius: 50px;
    color:white;
 background: linear-gradient( #2E2F84,#652E91 );
  
    border: none;
    cursor: pointer;
  }

  /* Hover */
  .section8 input:hover{
    border: 1.5px solid rebeccapurple; 

  }
   .section8 textarea:hover{
     border: 1.5px solid rebeccapurple; 
  }
  .section8 input:focus{
    border: 1.5px solid rebeccapurple; 

  }
   .section8 textarea:focus{
     border: 1.5px solid rebeccapurple; 
  }
  
  /* Responsive styles for screens up to 768px */
  @media (max-width: 768px) {
    .section8{
        padding: 0 10px;
    }
    .section8 h1 {
      font-size: 22px;
      font-weight: 600;
    }
  
    .section8 .inputGroup {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  
    .inputGroup input {
      width: 100%;
    }
  }
  