 .section5{
    display: flex;
    gap: 60px;
padding: 0px 60px;
margin-top: 80px;
}
 .section5 .left{
    width:40%;    
    display: flex;
    justify-content: center;
    align-items: center;
   
}

 .section5 .left img{
width: 550.78px;
height:427.62px;
}
 .section5 .right{
    width:45%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-self: center;
    gap: 10px;
    padding-bottom: 10px;
}
 .section5 .right h1{
    font-size: 40px;font-weight: 500;
}
 .section5 .right div{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .section5 .right p{
    font-size: 18px;
    font-weight: 500;
}
 .section5 .right button{
    width: fit-content;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 36px;
    border-radius: 50px;
 color:white;
 background: linear-gradient( #2E2F84,#652E91 );
  
    border: none;
    cursor: pointer;
}
/* responsiveness */
@media (max-width: 768px) {
     .section5 {
        margin-top: -10px;
      flex-direction: column-reverse; /* Stack elements vertically on smaller screens */
      align-items: center; /* Center-align elements horizontally */
      text-align: center; /* Center-align text */
      padding: 0 20px;
      gap: 0px;
    }
  
     .section5 .left {
      width: 100%; /* Make the left section full width on smaller screens */

    } 
     .section5 .left img{
        width: 100%;
        object-fit: contain;
    }
  
     .section5 .right {
      width: 100%; /* Make the right section full width on smaller screens */
      padding-top: 20px; /* Add some top padding for spacing */
    }
  
     .section5 .right h1 {
      font-size: 32px; /* Decrease font size for smaller screens */
    }
  
     .section5 .right div {
      gap: 10px; /* Adjust gap for smaller screens */
    }
  
     .section5 .right p {
      font-size: 14px; /* Decrease font size for smaller screens */
    }
    .section5 .right button{
      margin: 10px auto;
    }
  }